<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Review for [[${book.title}]]</title>
</head>
<body>
    <h2>Leave a Review for <span th:text="${book.title}"></span></h2>

	<form th:action="@{/reviews/add}" method="post">
	    <input type="hidden" name="bookId" th:value="${book.id}" />
	    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

		<label>Rating:</label>
		<select name="rating" required>
		    <option value="">Select Rating</option>
		    <option value="1">1 | Poor</option>
		    <option value="2">2 | Fair</option>
		    <option value="3">3 | Good</option>
		    <option value="4">4 | Very Good</option>
		    <option value="5">5 | Excellent</option>
		</select>
	    </label><br/>

	    <label>Comment:
	        <textarea name="comment" required></textarea>
	    </label><br/>

	    <button type="submit">Submit Review</button>
	</form>

</body>
</html>
